section 
            div 
                h2 Our History
                img(src="../../../assets/svg/Vector.svg", alt="logocha")
                h1 serving customers for over a decade
            div 
                div 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.
                    img(src="../../../assets/img/Mask Group.jpg", alt=".")
                div 
                    img(src="", alt="")
                    div 
                        h3 Over the years
                        div 
                            p 30+
                            img(src="../../../assets/svg/Vector.svg", alt="logocha")
                            p Breakfast Options
                        div 
                            p 50+
                            img(src="../../../assets/svg/Vector.svg", alt="logocha")
                            p Dinner Options
                        div 
                            p 8
                            img(src="../../../assets/svg/Vector.svg", alt="logocha")
                            p New Locations